In [1]:

!ls /kaggle/input/massive-yahoo-finance-dataset

stock_details_5_years.csv

In [2]:
import pandas as pd

# Adjust the filename if necessary
DATA_PATH = '/kaggle/input/massive-yahoo-finance-dataset/stock_details_5_years.csv'

# Parse “Date” as datetime, read 600k+ rows
df = pd.read_csv(
    DATA_PATH,
    parse_dates=['Date'],       # ensure pandas sees dates
    na_values=['', 'NA', 'nan'] # safe parsing
)

print(df.shape)  # Expect around (603000, 9) or similar
df.head()

(602962, 9)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Company
0,2018-11-29 00:00:00-05:00,43.829761,43.863354,42.639594,43.083508,167080000,0.00,0.0,AAPL
1,2018-11-29 00:00:00-05:00,104.769074,105.519257,103.534595,104.636131,28123200,0.00,0.0,MSFT
2,2018-11-29 00:00:00-05:00,54.176498,55.007500,54.099998,54.729000,31004000,0.00,0.0,GOOGL
3,2018-11-29 00:00:00-05:00,83.749496,84.499496,82.616501,83.678497,132264000,0.00,0.0,AMZN
4,2018-11-29 00:00:00-05:00,39.692784,40.064904,38.735195,39.037853,54917200,0.04,0.0,NVDA

In [3]:
df.info()
df.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 602962 entries, 0 to 602961
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Date          602962 non-null  object
 1   Open          602962 non-null  float64
 2   High          602962 non-null  float64
 3   Low           602962 non-null  float64
 4   Close         602962 non-null  float64
 5   Volume        602962 non-null  int64
 6   Dividends     602962 non-null  float64
 7   Stock Splits  602962 non-null  float64
 8   Company       602962 non-null  object
dtypes: float64(6), int64(1), object(2)
memory usage: 41.4+ MB

Date            0
Open            0
High            0
Low             0
Close           0
Volume          0
Dividends       0
Stock Splits    0
Company         0
dtype: int64

In [4]:
df['Company'].nunique()  # should be 491
df['Company'].value_counts().head(10)  # top‐10 by row count

Company
AAPL    1258
ARES    1258
FAST    1258
WCN     1258
FERG    1258
CSGP    1258
TTD     1258
VRSK    1258
FIS     1258
LYG     1258
Name: count, dtype: int64

In [5]:
df['Date'].min(), df['Date'].max()

(Timestamp('2018-11-29 00:00:00-0500', tz='UTC-05:00'),
 Timestamp('2023-11-29 00:00:00-0500', tz='UTC-05:00'))

In [6]:
coverage = df.groupby('Company')['Date'].agg(['min','max','count']).reset_index()
coverage.sort_values('count').head(10)  # tickers with fewest days
coverage.sort_values('count', ascending=False).head(10) # most days

    Company                        min                        max  count
0         A  2018-11-29 00:00:00-05:00  2023-11-29 00:00:00-05:00   1258
317     NTR  2018-11-29 00:00:00-05:00  2023-11-29 00:00:00-05:00   1258
330    ORAN  2018-11-29 00:00:00-05:00  2023-11-29 00:00:00-05:00   1258
329      ON  2018-11-29 00:00:00-05:00  2023-11-29 00:00:00-05:00   1258
328     OKE  2018-11-29 00:00:00-05:00  2023-11-29 00:00:00-05:00   1258
327    ODFL  2018-11-29 00:00:00-05:00  2023-11-29 00:00:00-05:00   1258
326       O  2018-11-29 00:00:00-05:00  2023-11-29 00:00:00-05:00   1258
325    NXPI  2018-11-29 00:00:00-05:00  2023-11-29 00:00:00-05:00   1258
324     NWG  2018-11-29 00:00:00-05:00  2023-11-29 00:00:00-05:00   1258
323     NVS  2018-11-29 00:00:00-05:00  2023-11-29 00:00:00-05:00   1258